.main-nav-item {
  background: none;
  border: none;
  color: var(--color-text);
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin-left: 1rem;
  font-weight: bold;
}

.main-nav-item:hover {
  text-decoration: underline;
}
