/* src/pages/Profile/profile.css */
.pageofprofile-container{background-color: #2c3e50; /* gris foncé */}
.profile-header {
  color: white;
  padding: 1.3rem;
  text-align: center;
  border-radius: 4px;
}

.edit-name {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.edit-name input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}

.edit-button {
  background-color: #00bc77;
  color: white;
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 1rem;
}

.edit-button:hover {
  background-color: #00a369;
}
.accounts{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}